## Redirects example.com/cool-page.html to example.com/cool-page
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteCond %{REQUEST_URI} ^(.+)\.html$
RewriteRule (.*)\.html$ /$1 [R=301,L]

## 404 error (page not found) redirects
ErrorDocument 404 /404.html

## ledenpagina-protected alleen toegankelijk vanaf ledenpagina
<!-- RewriteEngine On
RewriteCond %{HTTP_REFERER} !^https://svnull.nl/ledenpagina
RewriteRule /* https://svnull.nl/ledenpagina-protected [R,L] -->