## Redirects example.com/cool-page.html to example.com/cool-page
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteCond %{REQUEST_URI} ^(.+)\.html$
RewriteRule (.*)\.html$ /$1 [R=301,L]

## 404 error (page not found) redirects
ErrorDocument 404 /404.html

## Password protection
<!-- <Files ledenpagina-protected.html>
AuthName "Dialog prompt"
AuthType Basic
AuthUserFile /.htpasswd
Require valid-user
</Files> -->
AuthUserFile /.htpasswd
AuthBasicProvider file
AuthName "Please Login"
AuthType Basic
<Files "ledenpagina-protected.html">
require valid-user
</Files>